<p>
  <b>Latitude:</b>
  <%=h @spot.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @spot.longitude %>
</p>

<p>
  <b>Name:</b>
  <%=h @spot.name %>
</p>


<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
